# Variables de entorno para la aplicación

# Puerto del servidor
PORT=3000

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_NAME=registro_pasajeros

# Entorno de ejecución (development, production)
NODE_ENV=development